@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

#form{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 25px;

}

#nome{
	font-size: 20px;
}

#email{
	font-size: 20px;
	
}

#empresa{
	font-size: 20px;
}


#h1Tela2{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #ffffff;
	
}

#botao{
	font-family: Arial, serif;
	margin-top: 3%;
	width: 150px;
	background-color: #995a93;
	 border-radius: 10px;
	border: 0;
	height: 50px;
	font-size: 21px;
	font-weight: bold;
	display: block;
	margin-left: auto;
    margin-right: auto
}

@media only screen and (max-width: 700px) {

body{
	background-image:url(../img/back-mobile.jpg);
}

#logo-img{
	margin-top: 2%;
	max-width: 200px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#h1Tela2{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: #ffffff;
}


#botao{
	font-family: Arial, serif;
	margin-top: 160px;
	width: 150px;
	background-color: #995a93;
	 border-radius: 10px;
	border: 0;
	height: 50px;
	font-size: 21px;
	font-weight: bold;
	display: block;
	margin-left: auto;
    margin-right: auto
}

}